#A{
    position: absolute;
    left:500px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: red;
}
#A2{
    position: absolute;
    left:1050px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: red;
    opacity: 0;
}

#D{
    position: absolute;
    left:600px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: red;
}

#Dw{
    position: absolute;
    left:470px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: rgb(248, 151, 151);
    opacity: 0;
}

#A1w{
    position: absolute;
    left:770px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: rgb(248, 151, 151);
    opacity: 0;
}

#A2w{
    position: absolute;
    left:1120px;
    top: 100px;
    font-size: 100px;
    font-weight: bold;
    color: rgb(248, 151, 151);
    opacity: 0;
}